:root {
  --yellow: #fcd70f;
  --yellow-light: #fffac7;
  --black: #000000;
  --black-light: #3d3d3f;
  --black-dark: #231f20;
  --red: #ec1848;
}

.body {
  height: 100dvh;
  background-color: var(--yellow);
}
