:root {
  --yellow: #fcd70f;
  --yellow-light: #fffac7;
  --black: #000000;
  --black-light: #3d3d3f;
  --black-dark: #231f20;
  --red: #ec1848;
  --brown: #513529;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.body {
  position: relative;
  background-color: var(--yellow);
  background-image: url("../images/footet.webp");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
  font-family: "Gotham", sans-serif;
  color: var(--black-light);
}

.body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 70px;
  width: clamp(150px, 20vw, 310px);
  height: clamp(120px, 20vw, 280px);
  background-image: url("../images/petmol.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.body::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 70px;
  width: clamp(200px, 20vw, 430px);
  height: clamp(220px, 20vw, 460px);
  background-image: url("../images/planto.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .body::before {
    left: 0;
  }

  .body::after {
    right: 0;
  }
}

.body.thanks {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-evenly;
  background-image: none;
}

.body.thanks::after,
.body.thanks::before,
.body.buy::after,
.body.buy::before {
  display: none;
}

h1 {
  color: #3d3d3f;
  text-align: center;
  font-size: clamp(32px, 5vw, 82px);
  line-height: 90%;
  letter-spacing: -2.46px;
  text-transform: uppercase;
}

.red {
  color: var(--red);
}

.brown {
  color: var(--brown);
}

.white {
  color: var(--yellow-light);
}

.header {
  position: absolute;
  top: clamp(10px, 3vw, 40px);
  left: clamp(10px, 3vw, 40px);
  width: calc(100% - clamp(20px, 5vw, 80px));
  z-index: 5;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .wrapper > img {
  width: clamp(80px, 18vw, 220px);
  height: auto;
}

.body.thanks .header {
  position: relative;
  top: 0;
  left: 0;
  width: 36%;
  margin: 0 auto;
}

.body.thanks .header .wrapper {
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .body.thanks .header {
    width: 90%;
  }
}

input {
  border: none;
  background: var(--yellow-light);
  padding: clamp(12px, 3vw, 28px) clamp(12px, 3vw, 28px) clamp(12px, 3vw, 28px)
    clamp(30px, 3vw, 60px);
  border-radius: clamp(34px, 5vw, 50px);
  color: var(--black-light);
  font-family: "Gotham Bold", sans-serif;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 90%;
  text-transform: capitalize;
}

input::placeholder {
  color: var(--black-light);
  font-family: "Gotham Bold", sans-serif;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 90%;
}

.form .error {
  display: block;
  margin: 10px 0;
  padding-left: 30px;
  color: var(--red);
  font-size: clamp(16px, 3vw, 20px);
  line-height: 90%;
}

.main {
  position: relative;
  height: 100%;
  z-index: 6;
}

.main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(35px, 5vw, 50px);
  height: 100%;
  padding: clamp(30px, 5vw, 75px) 0 clamp(100px, 5vw, 225px);
  margin: 0 auto;
  aspect-ratio: 4/3;
}

@media screen and (max-width: 768px) {
  .main .content {
    aspect-ratio: none;
  }
}

@media screen and (max-width: 768px) {
  .main .content {
    padding: 70px 0 50px;
  }
}

.main.success .content {
  gap: clamp(20px, 5vw, 35px);
  width: 100%;
  padding-top: clamp(50px, 5vw, 70px);
  font-family: "Gotham Bold", sans-serif;
  font-size: clamp(28px, 5vw, 40px);
  line-height: 90%;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  text-align: center;
}

.main.success .content h1 {
  font-size: clamp(34px, 5vw, 60px);
  line-height: 1;
  letter-spacing: -1.36px;
}

.main.success .content > p {
  width: 50%;
  margin-bottom: 5px;
}

.main.main.success .content > span {
  font-size: clamp(16px, 5vw, 22px);
  letter-spacing: -0.44px;
}

.body.thanks .main {
  height: auto;
}

.body.thanks .main .content {
  justify-content: flex-start;
  gap: 0;
  width: 45%;
}

.body.thanks .main .content h1 {
  margin-bottom: clamp(40px, 5vw, 78px);
  font-size: clamp(40px, 5vw, 52px);
  line-height: 1;
}

.body.thanks .main .content .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 5vw, 32px);
  font-family: "Gotham Bold", sans-serif;
  font-size: clamp(28px, 5vw, 42px);
  line-height: 90%;
  letter-spacing: -0.84px;
  text-transform: uppercase;
  text-align: center;
}

.body.buy .main .content {
  padding-top: clamp(150px, 10vw, 190px);
}

.body.buy .main .content h1 {
  max-width: 1125px;
  font-size: clamp(20px, 5vw, 48px);
}

@media screen and (max-width: 1024px) {
  .main .content {
    width: 90%;
  }

  .main.success .content {
    padding-top: 100px;
  }

  .main.success .content > p {
    width: 90%;
  }

  .body.thanks .main .content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .body.buy .main .content {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .body.buy {
    height: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  gap: 10px;
}

.form-item label {
  flex: 1;
}

.form-item input {
  width: 100%;
}

.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 540px;
  height: 74px;
  padding: 0 35px;
  color: var(--yellow-light);
  font-family: "Gotham Bold", sans-serif;
  font-size: 20px;
  line-height: 90%;
  text-align: center;
  background-image: url("../images/button-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.btn--brown {
  background-image: url("../images/button-brown.svg");
  color: var(--yellow-light);
}

.btn--red {
  background-image: url("../images/button-red.svg");
  color: var(--yellow-light);
}

.btn--white {
  background-image: url("../images/button-yellow.svg");
  color: var(--brown);
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 1024px) {
  .btn {
    width: auto;
    max-width: none;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 3vh, 80px);
  padding: clamp(20px, 5vw, 50px) clamp(50px, 5vw, 100px);
  background-image: url("../images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.contacts .item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts .item .img {
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  gap: 10px;
  object-fit: contain;
  height: auto;
  font-family: "Gotham Bold", sans-serif;
  font-size: clamp(20px, 5vw, 34px);
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.contacts .item p,
.contacts .item a {
  color: var(--brown);
  font-size: clamp(16px, 3vw, 28px);
  line-height: 110%;
  letter-spacing: -0.68px;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts .item__info {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
}

.contacts .item__info p {
  font-family: "Gotham Bold", sans-serif;
}

@media screen and (max-width: 768px) {
  .contacts .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts .item .img {
    flex: 1;
  }

  .contacts .item__info {
    flex: 1;
  }
}
